// _sass/_custom.scss

p {
  max-width: 40em; /* Ajuste o valor conforme necessário */
  margin: 0 auto;
  text-align: justify;
  word-wrap: break-word;
}

pre,
code {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
