// _sass/_custom.scss

p {
  max-width: 100em; 
  margin: 0 auto;
  text-align: justify;
  word-wrap: break-word;
}

pre,
code {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

table {
  width: 100%;
  table-layout: fixed; 
  word-wrap: break-word;
}

th, td {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 150px; 
  display: block; 
}

.highlighter-rouge {
  overflow: auto;
}
